/*
  Styles entrypoint.
*/

@import url('./00-theme.css');
@import url('./01-base.css');
@import url('./02-layout.css');
@import url('./03-header.css');
@import url('./04-mobile-menu.css');
@import url('./05-hero.css');
@import url('./06-buttons.css');
@import url('./07-section-utils.css');
@import url('./08-why.css');
@import url('./09-goals.css');
@import url('./16-financiamiento.css');
@import url('./17-simulator.css');
@import url('./21-steps.css');
@import url('./18-apps-v2.css');
@import url('./22-solicitud.css');
@import url('./19-faq.css');
@import url('./20-contact.css');
@import url('./13-impact.css');
@import url('./14-testimonials.css');
@import url('./15-partners.css');
@import url('./11-footer.css');
@import url('./12-floating.css');
@import url('./99-responsive.css');
